<%- include('includes/header') %>
    <hr>
    <main>

        <div class="main_content">
            <nav class="breadcrumbs container">
                
                <a class="breadcrumb" href="" typeof="webPage">Home /</a>
            
                <a class="breadcrumb_current_page" href="" typeof="webPage">Búsqueda General</a>
                    
            </nav>
        </div>
        
        <div class="homepage_hero">
            <section>
                <h1>Catálogo de Búsqueda</h1>
                <p>
                    Bienvenidos a nuestro catálogo en línea. La biblioteca Athena contiene más de <b>100 mil materiales impresos</b> existentes en nuestras sedes, para su consulta y préstamo.
                    Este es un recurso invaluable para estudiantes, escritores y la comunidad en general de todo el mundo. Con tu usuario podrás solicitar préstamos en sala o externos y hacer renovaciones.
                </p>
            </section>
        </div>
        <div class="container">
            <a class="attribution" href="https://www.freepik.es/vector-gratis/fondo-dia-mundial-libro_23761052.htm">Imagen de freepik</a>
        </div>
    </main>

    <div class="container ">
        <div class="search_options">
            <a class="option current" href="/">Búsqueda General</a>
            <a class="option" href="/advance-home">Búsqueda Avanzada</a>
        </div>
    
        <div class="general_search">
    
            <form id="generalSearchForm" class="general_search_form" action="" target="_blank">
    
                <input class="search_input" type="text" placeholder="Escribe tu búsqueda aquí" required>
    
                <button class="search_button" type="submit">
                    <i class="fa-solid fa-magnifying-glass search_icon"></i>
                    Buscar
                </button>
            </form>
        </div>

        <div class="text">
            <p><b>Nuevo!</b> Prueba nuestras <b><a href="">recomendaciones</a></b> para descubrir los títulos más importantes de la temporada.</p>
        </div>

    </div>

<%- include('includes/footer') %>
    