<%- include('includes/header') %>
<hr>
    <main>

        <div class="main_content">
            <nav class="breadcrumbs container">
                
                <a class="breadcrumb" href="" typeof="webPage">Home /</a>
            
                <a class="breadcrumb_current_page" href="" typeof="webPage">Recomendaciones</a>
                    
            </nav>
        </div>
        
        <div class="spotlight_hero">
            <section>
                <h1>Recomendaciones</h1>
                <p>
                    Encuentra tu nuevo libro favorito con esta colección de los mejores títulos seleccionados por nuestros curadores y bibliotecarios.
                </p>
            </section>
        </div>
        <div class="container">
            <a class="attribution" href="https://www.freepik.es/vector-gratis/fondo-dia-mundial-libro_23761052.htm">Imagen de freepik</a>
        </div>
    </main>

<div class="container">

    <aside>
        <h2></h2>
    </aside>

    <div class="cards">

        <article class="card">
            <img class="card_img" src="../images/lets-do-drawing.jpg" alt="">
            <h3>Let´s do drawing</h3>
            <p>por Noah Shumacher </p>
        </article>

        <article class="card">
            <img class="card_img" src="../images/elevate-your-life.jpg" alt="">
            <h3>Elevate Your Life</h3>
            <p>Por Drew Feig</p>
        </article>

        <article class="card">
            <img class="card_img" src="../images/cybernetic-stargazer.jpg" alt="">
            <h3>Cybernetic Stargazer</h3>
            <p>Por Shawn García</p>
        </article>

        <article class="card">
            <img class="card_img" src="../images/the-art-of-persuasion.jpg" alt="">
            <h3>The Art of Persuasion</h3>
            <p>Por Olivia Wison</p>
        </article>

        <article class="card">
            <img class="card_img" src="../images/el-dragon.jpg" alt="">
            <h3>El Dragón</h3>
            <p>Por Horacio Silva</p>
        </article>

        <article class="card">
            <img class="card_img" src="../images/little-explorer.jpg" alt="">
            <h3>Little Explorer</h3>
            <p>Por Olivia Wilson</p>
        </article>

        <article class="card">
            <img class="card_img" src="../images/conquest-of-flames.jpg" alt="">
            <h3>Conquest of Flames</h3>
            <p>Por Shawn García</p>
        </article>

        <article class="card">
            <img class="card_img" src="../images/garden.jpg" alt="">
            <h3>Garden</h3>
            <p>Por Adeline Palmerston</p>
        </article>

        <article class="card">
            <img class="card_img" src="../images/cruce-de-caminos.jpg" alt="">
            <h3>Cruce de Caminos</h3>
            <p>Por Naira Gamboa</p>
        </article>

        <article class="card">
            <img class="card_img" src="../images/my-first-love.jpg" alt="">
            <h3>My First Love</h3>
            <p>Por Samira Hadid</p>
        </article>

    </div>

</div>
<%- include('includes/footer') %>