<footer>

    <div class="footer_grid container" >
        <div class="footer_logo">
            <a class="" href="general-home.html">
                <img class="logo_icon" src="../images/athena-logo.svg" alt="bpa logo" title="Tu motor de búsqueda para ingresar al catálogo de la BPA." width="1365.33" height="1365.33">
            </a>
            <p>
                Biblioteca 
                <br>
                Pública 
                <br>
                <b>Athena</b> 
            </p>
        </div>
    
        <div class="footer_nav">
            <h4>Enlaces Directos</h4>
            <div class="footer_nav_list">
                <a class="footer_nav_item" href="/spotlight">Recomendaciones</a>
                <a class="footer_nav_item" href="/contact">Contacto</a>
                <a class="footer_nav_item" href="/">Catálogo</a>
                <a class="footer_nav_item" href="/login">Ingresar</a>
                <a class="footer_nav_item" href="/signup">Registrarse</a>
            </div>
        </div>

        <div class="footer_contact">

            <h4>Contáctanos</h4>

            <div class="contact_text">
                <p class="contact_paragraph">
                    <i class="fa-solid fa-location-dot contact_icon"></i>
                    Avenida Carrera 60 No. 57 - 60, Teusaquillo, Bogotá
                </p>
                <p class="contact_paragraph">
                    <i class="fa-solid fa-phone contact_icon"></i>
                    (+57) 212-534-5050
                </p>
                <p class="contact_paragraph">
                    <i class="fa-regular fa-envelope contact_icon"></i>
                    athenabp@library.com
                </p>
            </div>

            <div class="social_icons">
                        <a href="" class="fa-brands fa-facebook icon"></a>
                        <a href="" class="fa-brands fa-instagram icon"></a>
                        <a href="" class="fa-brands fa-tiktok icon"></a>
                        <a href="" class="fa-brands fa-youtube icon"></a>
            </div>

        </div>
        
    </div>
    <hr class="container">
    <div class="container footer_legal">
        <p class="text_legal">
            <i class="fa-regular fa-copyright"></i>
            La Biblioteca Pública Athena, 2024. All rights reserved.
            <br>
            La Biblioteca Pública Athena is a 503(f)(4) | EIN 12-1997110
        </p>
    </div>
</footer>

</body>

<script src="https://kit.fontawesome.com/ef1766b37a.js" crossorigin="anonymous"></script>

</html>