<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda general</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <header> 
        
        <div class="container">
            <div class="top_nav">

                <div class="logo">
                    <a class="" href="/" aria-label="bpa Homepage">
                        <img class="logo_icon" 
                        src="../images/athena-logo.svg" 
                        alt="bpa logo" 
                        width="1365.33" height="1365.33">
                    </a>
                    <p class="brandname">
                        Biblioteca <br>
                        Pública <br>
                        <b>Athena</b> 
                    </p>
                </div>
                
                <div class="top_nav_empty"></div>

                <nav class="main_nav">
                                    
                            <a class="menu_link" href="/spotlight">Recomendaciones</a>
                        
                            <a class="menu_link" href="/contact">Contacto</a>
                        
                            <a class="menu_link" href="/">Catálogo</a>
                        
                            <a class="menu_link login" href="/login">
                                <i class="fa-solid fa-arrow-right-to-bracket fa-sm icon_login"></i>Ingresar 
                            </a>
                        
                            <a class="menu_link signup" href="/signup">
                                <i class="fa-solid fa-user-plus fa-sm icon_signup"></i>
                                Registrarse
                            </a>
                        
                </nav>

            </div>
        </div>                    
        
    </header>